
@keyframes fade-in {
    0% {
        transform: translate(0, 20px);
        opacity: 0;
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        transform: translate(0);
        opacity: 1;
    }
    100% {
        transform: translate(0, -20px);
        opacity: 0;
    }
}

@keyframes fade-in-static {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out-static {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 0%;
	}
	100% {
		background-position: 100% 100%;
	}
}
@keyframes reverse-gradient {
	0% {
		background-position: 0% 0%;
	}
    25% {
		background-position: 100% 50%;
    }
    50% {
		background-position: 0% 50%;
    }
    75% {
		background-position: 50% 100%;
    }
	100% {
		background-position: 100% 100%;
	}
}

@mixin fade-in {
    animation: fade-in ease-out 0.5s forwards;
    -webkit-animation: fade-in ease-out 0.5s forwards;
}

@mixin faded-out {
    opacity: 0;
}

@mixin fade-in-delayed {
    animation: fade-in ease-out 0.5s 0.1s forwards;
    -webkit-animation: fade-in ease-out 0.5s 0.1s forwards;
}

@mixin fade-out {
    animation: fade-out ease-out 0.5s forwards;
    -webkit-animation: fade-out ease-out 0.5s forwards;
}

@mixin fade-in-static {
    animation: fade-in-static ease-out 0.5s forwards;
    -webkit-animation: fade-in-static ease-out 0.5s forwards;
}

@mixin fade-out-static {
    animation: fade-out-static ease-out 0.5s forwards;
    -webkit-animation: fade-out-static ease-out 0.5s forwards;
}

@mixin fade-in-static-delayed {
    animation: fade-in-static ease-out 0.5s 0.1s forwards;
    -webkit-animation: fade-in-static ease-out 0.5s 0.1s forwards;
}

@mixin fade-out-static-delayed {
    animation: fade-out-static ease-out 0.5s 0.1s forwards;
    -webkit-animation: fade-out-static ease-out 0.5s 0.1s forwards;
}


.fade-in { @include fade-in; }
.faded-out { @include faded-out; }
.fade-in-delayed { @include fade-in-delayed; }
.fade-out { @include fade-out; }
.fade-in-static { @include fade-in-static; }
.fade-out-static { @include fade-out-static; }

@media (prefers-reduced-motion) {
    .fade-in {
        @include fade-in-static;
    }
    .fade-out {
        @include fade-out-static;
    }
    .fade-in-delayed {
        @include fade-in-static-delayed;
    }
    .fade-out-delayed {
        @include fade-out-static-delayed;
    }
}